@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

html {
  overflow-y: scroll;
}

.anchor {
  @apply absolute invisible no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:before {
  @apply text-neutral-300 dark:text-neutral-700;
  content: "#";
}

*:hover > .anchor {
  @apply visible;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
}

.prose > :last-child {
  margin-bottom: 2em !important;
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

pre, code {
  @apply bg-neutral-800! rounded-lg;
}

pre {
  
}

code {
  counter-reset: line;
  @apply text-white! px-1 py-0.5;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

[data-highlighted-line] {
  @apply bg-[#ffffff1a]!;
  @apply pl-0 pr-1 p-0.5 rounded-xs border-l-2 border-l-[#7B00D3] border-solid;
}

[data-highlighted-chars] {
  @apply bg-[#ffffff1a]!;
  @apply p-0.5 rounded-xs;
}

[data-rehype-pretty-code-title] {
  @apply px-4 py-3 font-mono text-xs font-medium border border-neutral-100 dark:border-neutral-800 rounded-t-lg text-neutral-200 bg-[#1c1c1c];
}

[data-rehype-pretty-code-title] + pre {
  @apply my-0 rounded-t-none border-t-0;
}

[data-rehype-pretty-code-caption]{
  @apply text-center text-[#747474];
}